*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../Asset/background4.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100vh; 
    /* background-color: blue; */
    width: 100%;
    height: 100vh;
}

/* Navbar  */
.pHead{
    width: 100%;
    height: 8vh;
    display: flex;
    position: sticky;
    top: 0px;
    text-shadow: 5px 5px 10px rgb(33, 33, 33);
    margin: auto;
    border-radius: 5px;
}

.navbar{
    width: 55%;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.navbar .navlink{
    width: 15%;
    height: 2rem;
    font-size: 1.7em;
    color: rgb(2, 0, 51);
    opacity: 1;
    /* background-color: white; */
    text-decoration: none;
    transition: all .2s linear;
    /* border: 1px solid white; */
}

.navlink:hover{
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 12px 2px 5px black;
}

/* Name */

.pName{
    width: 17%;
    min-width: fit-content;
    max-height: inherit;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
    /* border: 1px solid white; */
}

.pName span:nth-child(1){
    font-size: 3em;
    color: rgb(2, 0, 51);
    font-weight: 900;
    padding-left: .3rem;
}

.pName span:nth-child(2){
    font-size: 1.9em;
    color: rgb(255, 255, 255);
    position: relative;
    top: 0.4rem;
    left: .1rem;
}

.pName span:nth-child(3){
    font-size: 3em;
    color: white;
    font-weight: 900;
    padding-left: .6rem;
}

.pName span:nth-child(4){
    font-size: 1.9em;
    color: rgb(255, 255, 255);
    position: relative;
    top: 0.4rem;
    left: .1rem;
}

/* Home Components */

.pHome{
    /* width: 100%; */
    /* height: 100vh; */
    /* border: 1px solid black; */
    /* background-image: url('../Asset/background4.jpg'); */
    background-repeat: no-repeat;
    background-size: 100% 100vh; 
}

/* .pImg{
    width: 30%;
    height: 68%;
    border: .5em outset blue;
    position: absolute;
    top: 5em;
    right: 2em;
    border-radius: .5rem;
} */

.imgP{
    /* width: 100%;
    height: auto; */
    width: 20%;
    border: 5px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 5px gray;
}